---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


**News**
- Project grant, “Introduction to climate aware software engineering”, PI, 2022 
- Software center project grants, PI, 2021-2022
- Distinguished paper award, IEEE TCS, SCAM 2019
- HERO project grant, 2019

**Community Service**
- Program committee member, ACM SIGPLAN 2023 International Conference on Compiler Construction
- Program Committee member and session chair, SCAM 2021
- Program Committee member SCAM 2020 (Research track and RENE track)

**Research Interests**

-Static Program Analysis
-Program Semantics
-Program Logic
-Verification
-Abstract Interpretation
-Compiler Technology
-Automated Software Engineering
-Probabilistic proramming

**PhD Students**
1. Jean Malm
2. Hiep Hong Trinh

**Past Students**
1. Husni Khanfar
2. Lorenzo Addazi


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
